# Ignorar artefactos de R / RStudio
.Rhistory
.RData
.Rproj.user/

# Ignorar carpeta de cache de renv y targets
renv/library/
_targets/

# Ignorar resultados derivados / datos pesados
analysis/data/derived_data/

# Ignorar binarios de OxCal si los incluiste
analysis/data/derived_data/OxCal/OxCal/bin/

# Ignorar notebooks y papeles
Notebook/
paper/
cores_bacon/

# Ignorar sistemas
.DS_Store
Thumbs.db

# credenciales
.pem
.Renviron
